.pic-column {padding: 0; float: left; width: 23.75%; margin-right: 0.5%; margin-left: 0.5%;}
.pic-item {text-indent:0em; position: relative; margin-bottom: 10%; padding: 0.5%; line-height: 10px; display: block; background-color: #fff}
.pic-item img {width: 100%;}
.desc {font-size: 10px; margin-left: 10px; text-indent:2em; margin-right: 40px;}
@keyframes fade-in {  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    40% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in {/*针对webkit内核*/  
    0% {opacity: 0;}  
    40% {opacity: 0;}  
    100% {opacity: 1;}  
}  