@charset "utf-8";
/* CSS Document */
@-webkit-keyframes fadeInOut
{
	0% {opacity: 0;}
	50% {opacity: 1;}
	100%{opacity: 0;}
}
@keyframes fadeInOut
{
	0% {opacity: 0;}
	50% {opacity: 1;}
	100%{opacity: 0;}
}
@-moz-keyframes fadeInOut
{
	0% {opacity: 0;}
	50% {opacity: 1;}
	100%{opacity: 0;}
}
@-o-keyframes fadeInOut
{
	0% {opacity: 0;}
	50% {opacity: 1;}
	100%{opacity: 0;}
}
body{
	font-family: "Microsoft YaHei";
}
#playLine{
	position: fixed;
	top: 200px;
	width: 600px;
}
.background{
	top : 0;
	left : 0;
	position : fixed;
	z-index : 1000;
}
.foreground{
	top : 0;
	left : 0;
	position : fixed;
	z-index : 3000;
}
#canvas{
	top:0;
	left:390px;
	position : fixed;
	z-index : 2000;
}
.background2{
	top : 0;
	left : 0;
	position : fixed;
	z-index : 1001;
	animation:fadeInOut 3s infinite linear;
	-moz-animation:fadeInOut 3s infinite linear;	/* Firefox */
	-webkit-animation:fadeInOut 3s infinite linear;	/* Safari 和 Chrome */
	-o-animation:fadeInOut 3s infinite linear;	/* Opera */
}
.hitNeon{
	left: 540px;
	top: 200px;
	text-height:font-size;
	text-align:center;
	font-size:60px;
	width:200px;
	height:auto;
	position:fixed;
	z-index :4000;
	text-shadow: 0 0 10px #fff;
}
.missNeon{
	left: 540px;
	top: 200px;
	text-height:font-size;
	text-align:center;
	font-size:60px;
	width:200px;
	height:auto;
	position:fixed;
	z-index :4000;
	text-shadow: 0 0 10px #fff;
}